*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
}
:root{
    --header-background-color:white;
}

.container1{
    overflow-x: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0.3px 0.1px gray;
}
.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0px 0.3px 0.1px gray;
    position:sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    overflow-x: scroll;
}
.header-search{
    background-color: #f0f2f5;
    width: 250px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 30px;
}

.serach-input{
    background-color: transparent;
    outline: none;
    border: 0;
    padding-left: 5px;
    font-size: 11px;
    font-weight: 500;
}
.middle-header ul{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
}
.middle-header li{
    list-style: none;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;

}
.middle-header ul li a{
    position: relative;
}
.middle-header ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: blue;
    bottom: -3px;
    transition: width 0.2s;
}
.middle-header ul li a:hover::after,
.middle-header ul li a.active-link::after
{
    
    width: 100%;
    background-color: blue;
}


.middle-header li img{
    width: 20px;
    height: 20px;    
}
.profile-img{
    border-radius: 50px;
    display: flex;
}
.profile-img span{
    font-size: 10px;
}
.middle-header li span{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    padding: 20px 5%;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 60px;
}
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 60px;
}
.main-content{
    flex-basis: 50%;
    position: relative;
    top: 40px;
}
.user-profile-card{
    border-radius:6px;
    position: relative;
    width: 95%;
    box-shadow: 0px 0px 1px gray;
    
}
.user-profile-card-header{
    border-radius: 6px 6px 0px 0px;
}
.user-profile-card-round-img{
    padding: 2px;
    border-radius: 50px;
}
.user-profile-card-round-img img{
    position: absolute;
    top: 10px;
    left: 40%;
    border-radius: 50px;
    z-index: 2;
}
.user-profile-card-user-name{
    padding-top: 22px;
    font-size: 11px;
    width: 100%;
    font-weight: bold;
}
.user-profile-card-user-name p{
    text-align: center;
}
.user-profile-card-user-name p a:hover{
    text-decoration: underline;
}
.user-profile-body-collage-info{
    text-align: center;
    font-size: 9px;
    color: gray;
    padding-top: 6px;
    border-bottom: 1px solid rgb(219, 216, 216);
    padding-bottom: 10px;
}
.profile-card-connection{
    font-size: 8px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 2px;
    margin-top: 5px;
}
.profile-card-connection p span{
    color: blue;
    text-align: end;
}
.profile-card-connection:hover{
    background-color: rgba(240, 234, 234, 0.658);
}
.profile-card-profile-view{
    font-size: 8px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(219, 216, 216);
    
}
.profile-card-profile-view p span{
    color: blue;
}
.profile-card-profile-view:hover{
    background-color: rgba(240, 234, 234, 0.658);
}
.profile-card-acces{
    font-size: 9px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.profile-card-acces p a{
    font-weight: 600;
    text-decoration: underline;
}
.profile-card-acces p a:hover{
    color: blue;
}
.profile-card-acces:hover
{
    background-color: rgba(240, 234, 234, 0.658);
}
.my-profile{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
    font-weight: bold;
}
.my-profile:hover{
    background-color: rgba(240, 234, 234, 0.658);
}

.recent-card{
    margin-top: 10px;
    border-radius:6px;
    position: relative;
    width: 95%;
    box-shadow: 0px 0px 1px gray;
    overflow: hidden;
}
.recent-card-item{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 9px;
    padding-bottom: 5px;
    font-weight: 550;
    color: rgb(77, 73, 73);
}
.recent-card-item:hover{
    color: rgb(0, 0, 0);
}
.recent-card-item:hover{
    background-color: #f0efee;
}
.blue-color-text{
    color: blue;
    font-size: 9px;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}
.show-more{
    font-size: 10px;
    padding-left: 30px;
    
    font-weight: 600;
    color: rgb(110, 105, 105);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;

}
.show-more:hover{
    background-color: #f0efee;   
    color: black;
}
.right-side-card{
    width: 100%;
    margin-left: 5%;
    box-shadow: 0px 0px 1px gray;
    margin-bottom: 10px;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}
.card-body{
    font-size: 10px;
    padding-left: 20px;
    font-weight: bold;
    background-color: white;
    padding-right: 10px;
    padding-bottom: 10px;
}
.card-body div{
    margin-bottom: 10px;
}
.card-body span{
    color: gray;
    font-weight: 500;
    font-size: 9px;
    padding-left: 20px;
}
.right{
    padding-left: 20px;
    font-size: 9px;
    font-weight: 500;
}
.round-image{
    position: relative;
    left: 12%;
}
.round-image img{
    border-radius: 50px;

}
.button {
    width: 100%;
    align-items: center;
}
.b1{
    border: none;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 40px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-weight: 600;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-link{
    font-size: 9px;
    color: rgb(112, 111, 111);
    padding: 10px;
}
.inline{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.footer-link p a:hover{
    text-decoration: underline;
    color: blue;
}
.main-body-card{
    box-shadow: 0px 0px 1px gray;
    border-radius: 4px;
    width: 100%;
}
.serach-row {
    display:flex;
    
}
.serach-row input{
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid gray;
    margin-top: 15px;
    height: 30px;
    width: 290px;
}
.serach-row input:hover{
    background-color: rgb(233, 233, 233);
}
.serach-row input:focus{
    outline-color: rgb(199, 199, 199);
}
.button-group{
    display: flex;
    margin-left: 10px;
}
.button-style button{
    border:none;
    background-color: white;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.15s;
}
.button-style button:hover{
    background-color: rgb(221, 221, 221);
}
.card-post-header{
    display: flex;
    margin-top: 20px;
    padding: 10px;
}
.c-logo-style{
    margin-right: 10px;
}
.card-header-name{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.company-name{
    font-size: 10px;
    font-weight: bold;
}
.company-name:hover{
    color: blue;
    text-decoration: underline;
    
}
.followers{
    font-size: 10px;
    color: gray;
}
.promoted{
    font-size: 10px;
    color: gray;
}
.card-body-text p{
    font-size: 10px;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.gray-see-more{
    color: gray;
}
.img-footer{
    margin-top: 0;
}
.img-footer p{
    margin: none;
    padding: 10px;
    background-color: rgb(202, 243, 229);
}

.button-group-footer{
    display: flex;
    margin-left: 5px;
}
.button-style-footer button{
    position: relative;
    border:none;
    background-color: white;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.15s;
}
.button-style-footer button::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 25px;
    left: 0;
    box-shadow: 0px 0px 1px gray;
    bottom: -30px;
}
.button-style-footer button:hover::after{
    width: 200px;
   
}

.button-style-footer button:hover{
    background-color: rgb(221, 221, 221);
}
.like-img-g{
    margin-left: 10px;
}
.like-img-group{
    margin: none;
}
.like-text-name{
    font-size: 9px;
}
.like-list-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.like-list-wrap.open-menu{
    max-height: 400px;
}
.like-list-menu{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px;
}
.like-img-list{
    display: flex;
    align-items: center;
}
.post{
    margin-bottom: 30px;
}
@media only screen and (max-width:600px) {
    .container{
        padding: 15px 3%;
        z-index: 100;
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
        margin-bottom: 20px;
        
    }
    .left-sidebar{
        flex-basis: 100%;
        position: relative;
        top: 40px;
        margin-left: 0%;
        margin-bottom: 10px;
        background-color: white;
    }
    .right-sidebar{
        margin-top: 50px;
        flex-basis: 100%;
        position: relative;
        top: unset;
        background-color: white;
    }
    .right-side-card{
        width: 100%;
        margin-left: 0;
        box-shadow: 0px 0px 1px gray;
        margin-bottom: 10px;
    }
   

}
